section.section.section--light.about
  .container 
    .row.justify-content-between
      .col-sm-6.col-lg-5.about__col
        h2.title.about__title Описание курса
        p.text.about__text Повышение квалификации для сметчиков, планирующих освоить технологию составления сметной документации на основе BIM-проекта
        p.text.about__text Курс состоит из теоретических и практических занятий
      .col-sm-6.col-lg-6.about__col
        h2.title.about__title Для кого
        ul.list.about__list
          li.item.about__item Практикующие сметчики
          li.item.about__item Проектировщики
          li.item.about__item BIM-менеджеры
          li.item.about__item Специалисты, заинтересованные в интеграции технологии BIM и сметных расчетов
    .row
      .col-sm-10.col-md-8.col-lg-6
        h2.title.about__title Программа курса
        .about__wrap 
          .about__details
            p.text.about__summary Введение. Знакомство с идеологией BIM и продуктом 5D Cмета
            ul.about__sublist
              li.text.subitem.about__subitem Использование параметров элементов для расчета объемов работ
              li.text.subitem.about__subitem Добавление и удаление сметных норм
              li.text.subitem.about__subitem Выполнение практического задания
          .about__details
            p.text.about__summary Настройка 5D Cмета. Назначение окон и обзор общих функций
            ul.about__sublist
              li.text.subitem.about__subitem Использование параметров элементов для расчета объемов работ
              li.text.subitem.about__subitem Добавление и удаление сметных норм
              li.text.subitem.about__subitem Выполнение практического задания
          .about__details
            p.text.about__summary Привязка сметных норм к элементам. Интеллектуальное назначение норм с учетом требований к физическим параметрам
            ul.about__sublist
              li.text.subitem.about__subitem Использование параметров элементов для расчета объемов работ
              li.text.subitem.about__subitem Добавление и удаление сметных норм
              li.text.subitem.about__subitem Выполнение практического задания
          .about__details
            p.text.about__summary Автоматизация привязки сметных норм с использованием шаблонов и наборов сметных норм
            ul.about__sublist
              li.text.subitem.about__subitem Использование параметров элементов для расчета объемов работ
              li.text.subitem.about__subitem Добавление и удаление сметных норм
              li.text.subitem.about__subitem Выполнение практического задания
          .about__details
            p.text.about__summary Импорт файлов Excel. Выгрузка данных из 5D Cмета. Загрузка информации в сметную программу. Контроль изменений в проекте
            ul.about__sublist
              li.text.subitem.about__subitem Использование параметров элементов для расчета объемов работ
              li.text.subitem.about__subitem Добавление и удаление сметных норм
              li.text.subitem.about__subitem Выполнение практического задания
        a(href="./files/programm.pdf", target="_blank", class="button button--action about__button", download) Скачать программу PDF