section.section.section--accent.hero 
  .container
    .row.justify-content-end
      .col-xl-7.col-lg-9.col-md-10.col-12
        h1.hero__title Базовый курс обучения 
          strong.hero__title.hero__title--bold 5D Смета
        .row.hero__row
          .col-md-5.col-sm-6.col-12.hero__col
            h2.hero__subtitle Количество часов 
            p.hero__description 20 академ. часов
          .col-md-7.col-sm-6.col-12.hero__col
            h2.hero__subtitle Формат обучения
            p.hero__description Очный, онлайн
        .row.hero__row
          .col-md-5.col-sm-6.col-12.hero__col
            h2.hero__subtitle Стоимость курса 
            p.hero__description 25 000 руб./за чел.
          .col-md-7.col-sm-6.col-12.hero__col
            h2.hero__subtitle Продолжительность курса
            p.hero__description 5 рабочих дней по 4 академических часа*
        .row.hero__row
          .col-md-5.col-sm-6.col-12.hero__col
            h2.hero__subtitle География
            p.hero__description Россия
          .col-md-7.col-sm-6.col-12.hero__col
            h2.hero__subtitle Возможно индивидуальное и групповое обучение
        .row.hero__row.align-items-center
          .col-md-5.col-sm-6.col-12
            button(class="button button--action button--request hero__button", data-toggle="modal", data-target="#exampleModal") Оставить заявку
          .col-md-7.col-sm-6.col-12
            p.hero__note * Расписание занятий составляется индивидуально