section.section.section--light.learn 
  .container
    .row.justify-content-end
      .col-md-7
        h2.title.learn__title Вы научитесь
        ul.list.learn__list 
          li.text.item.learn__item Самостоятельно составлять сметы на основе информационной модели (BIM)
          li.text.item.learn__item Выгружать данные из проекта в удобном виде
          li.text.item.learn__item Привязывать к элементам модели сметные нормы и назначать ресурсы
          li.text.item.learn__item Работать со сметно-нормативными базами и техническими частями сборников
          li.text.item.learn__item Составлять структуру сметы
          li.text.item.learn__item Выполнять интеграцию с любой сметной программой 
          li.text.item.learn__item Автоматически рассчитывать стоимость проекта
        button(class="button button--action button--request learn__button", data-toggle="modal", data-target="#exampleModal") Заказать курс