section.section.section--light.specials 
  .container.specials__container
    h2.title.specials__title Спецпредложения
    .row.specials__row
      .col-md-6.specials__col
        .article.specials__article
          .article__wrap 
            strong.article__special 5 = 4
            p.article__text При покупке группового обучения каждое 5 место предоставляется бесплатно. 
      .col-md-6.specials__col
        .article.specials__article
          .article__wrap 
            strong.article__special Скидка 5%
            p.article__text на обучение при единовременной покупке с программой 5D Смета 
    button(class="button button--action button--request specials__button", data-toggle="modal", data-target="#exampleModal") Оставить заявку