section.section.section--accent.teachers 
  .container 
    h2.title.teachers__title Наши преподаватели
    .row 
      .col-lg-4.col-sm-6.teachers__col
        figure.teachers__figure 
          img(srcset="./images/teachers/teacher-1/teacher-1@2x.jpg 2x", src="./images/teachers/teacher-1/teacher-1.jpg", alt="Сабитова Ариадна Дмитриевна", class="teachers__img")
          figcaption.teachers__figcaption
            h3.teachers__name 
              span.teachers__surname Сабитова 
              | Ариадна Дмитриевна
            ul.list
              li.text Эксперт по направлению «Сметные решения»
              li.text Опыт работы более 6 лет
      .col-lg-4.col-sm-6.teachers__col
        figure.teachers__figure 
          img(srcset="./images/teachers/teacher-2/teacher-2@2x.jpg 2x", src="./images/teachers/teacher-2/teacher-2.jpg", alt="Сабитова Ариадна Дмитриевна", class="teachers__img")
          figcaption.teachers__figcaption
            h3.teachers__name 
              span.teachers__surname Ивянский 
              | Александр Матвеевич
            ul.list
              li.text Генеральный директор НТЦ «Гектор»
              li.text Опыт работы более 30 лет