section.section.section--accent.training 
  .container 
    .row.justify-content-between
      .col-lg-5.col-sm-7.training__col 
        h2.title.training__title Базовая подготовка слушателя
        ul.list.training__list
          li.text.training__item среднее или высшее профильное образование
          li.text.training__item уровень владения ПК – пользователь среднего уровня
          li.text.training__item знание основ сметного дела
          li.text.training__item наличие навыков в составлении сметной документации
        p.text.training__text На время обучения предоставляется лицензия 5D Смета и демонстрационный BIM-проект
        a(href="./files/programm.pdf", target="_blank" class="training__link", download) Скачать программу PDF
      .col-lg-7.col-sm-5
        .training__consultation 
          h3.training__question ОСТАЛИСЬ ВОПРОСЫ?
          button(class="button button--action button--request training__button", data-toggle="modal", data-target="#exampleModal") Получить консультацию