extends ../layouts/layout

block content 
  main.main
    include ../includes/hero
    include ../includes/about
    include ../includes/teachers
    include ../includes/learn
    include ../includes/training
    include ../includes/specials