@mixin roboto--regular {
  font-family: $font-accent;
  font-weight: normal;
}

@mixin roboto--bold {
  font-family: $font-accent;
  font-weight: bold;
}

@mixin exo-2--regular {
  font-family: $font-second;
  font-weight: normal;
}